extends layout

block content
  div(class="container")
    div(class="header")
      ul(class="nav nav-pills pull-right")
        li(class="active")
          a(href="/") Home
        li
          a(href="./list") My Meetings
      h3(class="text-muted") Meeting Details
    
    div(class="table")
      table
        tr
          th Meeting
          th Date
          th Status
          th Update
          th Delete
        each ob in JSON.parse(json)
          tr
            td #{ob['meetingName']}
            td #{ob['meetingDate']}
            td #{ob['meetingStatus']}
            td
              - var meetingurl = "meetingID=" + ob.meetingID
              - var meetingStatus = "currentStatus=" + ob.meetingStatus
              //button(type="button", class="btn btn-primary", name=meetingurl, onclick="changeStatus(" + meetingurl + ")") Change Status
              a(href="./updatestatus?" + meetingurl + "?" + meetingStatus) Change Status
            td
              a(href="./delete?" + meetingurl) Delete
             
    div(class="footer")
      p &copy; Made for Qui!
      
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
  script(src="../static/bootstrap/js/bootstrap.min.js")
  script.
    $(document).ready(function() {
      $("#changeStatus").click(function() {
        $.post( "/updatestatus", $("#changeStatus").serialize(),
            function(data) {
              console.log("Status change successful");
              window.location.reload(false);
            }
        )
        .error(function(xhr) {
          console.error("Status change error");
        })
      })
      function changeStatus(meetingURL) {
        $.post( "updatestatus", meetingURL),
         function(data) {
           console.log("Status change successful");
           window.location.href = '/updatestatus' + meetingURL;
         })
      }
    })
